@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Harbour inspired palette */
  --primary: #2C3E2E;
  /* Deep Green */
  --secondary: #E5E0D8;
  /* Stone/Beige */
  --accent: #D45D3A;
  /* Burnt Orange */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}